@page
@model BookListRazor.Pages.BookList.IndexModel
@{
    ViewData["Title"] = "Book List";
}


<h2 class="text-muted d-inline-block">Book List</h2>
<a class="btn btn-primary float-right" asp-page="Create">Create new book</a>

<hr />

@if (Model.Books.Count() > 0)
{
    @Html.AntiForgeryToken();
    <div class="subtle-shadow p-3 rounded bg-white ">
        <table class="table mb-0 wrap">
            <thead>
                <tr>
                    <th>
                        <label asp-for="Books.FirstOrDefault().Name"></label>
                    </th>
                    <th>
                        <label asp-for="Books.FirstOrDefault().Author"></label>
                    </th>
                    <th>
                        <label asp-for="Books.FirstOrDefault().ISBN"></label>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model.Books)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => book.Name)</td>
                        <td>@Html.DisplayFor(m => book.Author)</td>
                        <td class="text-break">@Html.DisplayFor(m => book.ISBN)</td>
                        <td class="pr-0">
                            <a class="btn btn-info mb-sm-0 mb-1 float-right mr-1" asp-page="Edit" asp-route-id="@book.Id">Edit</a>
                            <button class="btn btn-danger mb-sm-0 mb-1 float-right mr-1 delete" data-delete-id="@book.Id">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="alert alert-info">Could not find any books to display, consider adding one using the input above.</p>
}

<h3 class="text-muted my-2">Or by DataTable.js</h3>

<hr />

<div class="subtle-shadow p-3 rounded mt-2 bg-white">
    <table id="DT_load" class="table text-wrap">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Author Name</th>
                <th>ISBN</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Confirm</h4>
            </div>
            <div class="modal-body">
                <p id="message"></p>
            </div>
            <div class="modal-footer">
                <button id="btnYes" type="button" class="btn btn-primary">Yes</button>
                <button id="btnNo" type="button" class="btn btn-danger">No</button>
            </div>
        </div>
    </div>
</div>

<div id="toastContainer">

</div>

<div class="d-none">
    <div id="toastTemplate" class="toast" role="alert" data-delay="8000">
        <div class="toast-header">
            <strong class="mr-auto">Title</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Body
        </div>
    </div>
</div>

@section Scripts{ 
    <script src="~/js/bookList.js"></script>
}


