@model BookListMVC.Models.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="withShadow rounded">
    <div>
        <h1 class="text-muted d-inline-block">Book List</h1>
        <a asp-action="Upsert" asp-controller="Book" class="btn btn-primary float-right">Add a book</a>
    </div>

    <hr />

    @if (Model.Books.Count > 0)
    {
        <div class="subtle-shadow rounded px-2 py-3">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>Book Name</th>
                        <th>Author Name</th>
                        <th>ISBN</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Book book in Model.Books)
                    {
                        <tr>
                            <td>@book.Name</td>
                            <td>@book.Author</td>
                            <td>@book.ISBN</td>
                            <td class="d-flex justify-content-end align-items-center">
                                <a asp-action="Upsert" asp-controller="Book" asp-route-id="@book.Id" class="btn btn-info ml-2">Edit</a>
                                <form asp-action="Delete" asp-controller="Book" asp-route-id="@book.Id" data-ajax="true" data-ajax-success="deleteItem(data, this)" data-ajax-failure="deleteItemFail(xhr)" class="">
                                    <button class="btn btn-danger ml-2" type="submit">Delete</button>
                                </form>
                                @*<a asp-action="delete" asp-controller="book" asp-route-id="@book.id" data-ajax-url="@url.action("delete", "book", new { id = book.id })" data-ajax="true" data-ajax-success="deleteitem(this)" data-ajax-failure="deleteitemfail()" class="btn btn-danger ml-2">delete</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-info">No books have yet been added, try adding one by clicking "Create a book" above!</div>
    }
</div>



